:host {
  display: block;
  background-color: #ECF0F5;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ECF0F5 !important;
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  background-color: #ECF0F5;
  height: 100%;
}
